 h1{
    text-align: center;
 }   
table{
    width: 100%;
    text-align: left;
    
    th{
        color: gray;
    }
}


:host{
    display: block;
    border: 1px solid red;
}

tr{
    // border: 10px solid yellow;
    background-color: rgb(210, 243, 243);
}



